
<body>
    <!-- header here -->

    <main>
        <!-- section-one -->
        <div>
            <div id="welcome">
                <h2>Welcome to CSE Motors!</h2>
            </div>
            <div id="delorean">
                <div id="block">
                    <h3>DMC Delorean</h3>
                    <p>3 Cup holders</p>
                    <p>Superman doors</p>
                    <p>Fuzzy dice!</p>
                </div>
                <div>
                    <button type="button">Own Today</button>
                </div>
            </div> 
        </div>

        <!-- section-two -->
        <div>
            <div>
                <h2>DMC Delorean Reviews</h2>
            </div>
            <div id="reviews-list-section">
                <ul id="review-list">
                    <li class="review-list-item">"So fast it's almost like traveling in time." (4/5)</li>
                    <li class="review-list-item">"Coolest ride on the road." (4/5)</li>
                    <li class="review-list-item">"I'm feeling McFly!" (5/5)</li>
                    <li class="review-list-item">"The most futuristic ride of our day." (4.5/5)</li>
                    <li class="review-list-item">80's livin and I love it! (5/5)</li>
                </ul>
            </div>
        </div>

        <!-- section-three -->
        <div>
            <div id="upgrades-title">
                <h2>Delorean Upgrades</h2>
            </div>
            <div id="upgrades-section">
                <section class="boxes containter">
                    <a href="flux-cap.png"><img src="/images/upgrades/flux-cap.png" alt="flux capacitor" style="width:42px;height:42px;">Flux Capacitor</a>
                    <a href="flame.jpg"><img src="/images/upgrades/flame.jpg" alt="flame decals" style="width:42px;height:42px;">Flame Decals</a>
                    <a href="bumper-sticker.jpg"><img src="/images/upgrades/bumper-sticker.jpg" alt="bumper stickers" style="width:42px;height:42px;">Bumper Stickers</a>
                    <a href="hub-cap.jpg"><img src="/images/upgrades/hub-cap.jpg" alt="hub caps" style="width:42px;height:42px;">Hub Caps</a>
                </section>
            
            </div>
        </div>
    </main>

    <!-- footer here -->
  
</body>