

<body>
    <!-- header here -->

    <main>
        <!-- section-one -->
        <div>
            <div id="welcome">
                <h2>Welcome to CSE Motors!</h2>
            </div>
            <div id="delorean">
                <!-- <img src="/images/vehicles/delorean.jpg" alt="flux capacitor"> -->
            
                <div id="block">
                    <h3>DMC Delorean</h3>
                    <p>3 Cup holders</p>
                    <p>Superman doors</p>
                    <p>Fuzzy dice!</p>
                        <div>
                            <button type="button">Own Today</button>
                        </div>
                </div>
            </div>   
             
        </div>

        <!-- section-two -->
        <div>
            <div>
                <h3>DMC Delorean Reviews</h3>
            </div>
            <div id="reviews-list-section">
                <ul id="review-list">
                    <li class="review-list-item">"So fast it's almost like traveling in time."<br>(4/5)</li>
                    <li class="review-list-item">"Coolest ride on the road." (4/5)</li>
                    <li class="review-list-item">"I'm feeling McFly!" (5/5)</li>
                    <li class="review-list-item">"The most futuristic ride of our day."<br>(4.5/5)</li>
                    <li class="review-list-item">80's livin and I love it! (5/5)</li>
                </ul>
            </div>
        </div>

        <!-- section-three -->
        <div>
            <div id="upgrades-title">
                <h3>Delorean Upgrades</h3>
            </div>
            <div id="upgrades-section">
                <section>
                    <img class="img-container" src="/images/upgrades/flux-cap.png" alt="flux capacitor" style="width:42px;height:42px;">
                    <a href="flux-cap.png">Test</a>a>
                    <a href="flux-cap.png"><img class="img-container" src="/images/upgrades/flux-cap.png" alt="flux capacitor" style="width:42px;height:42px;">Flux Capacitor</a>
                    <a href="flame.jpg"><img class="img-container" src="/images/upgrades/flame.jpg" alt="flame decals" style="width:42px;height:42px;">Flame Decals</a>
                    <a href="bumper-sticker.jpg"><img class="img-container" src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers" style="width:42px;height:42px;">Bumper Stickers</a>
                    <a href="hub-cap.jpg"><img class="img-container" src="/images/upgrades/hub-cap.jpg" alt="hub caps" style="width:42px;height:42px;">Hub Caps</a>
                    <!-- <figure class="img-container">
                        <img src="/images/upgrades/flux-cap.png" alt="flux capacitor" style="width:42px;height:42px;">
                        <figcaption><a href="flux-cap.png">Flux Capacitor</a></figcaption>
                    </figure> -->
                </section>
            
            </div>
        </div>
    </main>

    <!-- footer here -->
  
</body>