
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*@import url*/

body {
  font-family: 'Roboto', sans-serif;
  background: url(/images/site/checkerboard.jpg);
}

a:link .siteName {
  text-decoration: none;
}
#wrapper {
  background: white;
  border: 5px solid blue;
  margin: 20px 150px;
  padding: 15px;
}

#delorean{
  background-image: url(/images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
}

#block {
  color: lightskyblue;
  background-color: white; opacity: 0.5;
}

button {
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: lightskyblue;
  padding: 15px 32px;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 5px gray;
}

.upgrade-item {
  background-color: lightskyblue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
  margin: 5px;
  border: 1px black;
}




